* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Cascadia Code;
   background-color: rgb(23, 23, 23);
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   color: white;
}

.container {
   border: white solid 1px;
   border-radius: 5px;
   padding: 15px;
   width: 400px;
}

h1 {
   color: orange;
}

input[type="text"] {
   width: calc(100% - 22px);
   padding: 10px;
   margin: 10px 0;
   border-radius: 5px;
}

button {
   padding: 5px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   height: 100%;
}

button:hover {
   background: orange;
}

ul {
   list-style: none;
   padding: 0;
}

li {
   margin: 5px 0;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

li span {
   flex-grow: 1;
}

li .edit-button, li .delete-button {
   margin-left: 10px;
}

li .edit-button {
   background: #ffc107;
   color: white;
}

li .edit-button:hover {
   background: #e0a800;
}

li .delete-button {
   background: #dc3545;
   color: white;
}

li .delete-button:hover {
   background: #c82333;
}
